[submodule "ext/cereal"]
	path = ext/cereal
	url = https://github.com/USCiLab/cereal
	branch = v1.2.2
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
	branch = 4.0.0
[submodule "ext/whereami-cpp"]
	path = ext/whereami-cpp
	url = https://github.com/nabijaczleweli/whereami-cpp
	branch = v1.1.0
[submodule "ext/SFML"]
	path = ext/SFML
	url = https://github.com/SFML/SFML
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "ext/optional-lite"]
	path = ext/optional-lite
	url = https://github.com/martinmoene/optional-lite
	branch = v2.1.0
[submodule "ext/variant-lite"]
	path = ext/variant-lite
	url = https://github.com/martinmoene/variant-lite
[submodule "ext/tinyfiledialogs"]
	path = ext/tinyfiledialogs
	url = https://git.code.sf.net/p/tinyfiledialogs/code
[submodule "ext/css-color-parser-js"]
	path = ext/css-color-parser-js
	url = https://github.com/deanm/css-color-parser-js
